*{
    margin: 0;
    padding: 0;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.text-center{
    text-align: center;
}
.text-left{
text-align: left;
}
.text-right{
text-align: right;
}
.left{
    float: left;
}
.right{
    float: right;
}
.fix-width{
    width: 1200px;
    margin: auto;
}
img{
    max-width: 100%;
}
a{
text-decoration: none;

}

body,h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'Work Sans', sans-serif;
}


/* Main CSS */
.header-section{
    background-color: skyblue;
    border-bottom: 1px solid #ddd;
}
.header-logo{
    width: 30%;
    float: left;
}
.header-logo img{
    float: left;
}
.header-logo span {
 
    margin-top: 18px;
    display: inline-block;
    margin-left: 10px;
}
.header-menu{
    width: 60%;
}
.btns {
    display: inline-block;
    margin-top: 5px;
    border: 2px solid green;
    padding: 5px 15px;
    border-radius: 10px;
    color: black;
}
.header-menu ul{
  
   
}
.header-menu ul li{
    display: inline-block;
    position: relative;
}
.header-menu ul li a{
display: block;
line-height: 60px;
padding: 0 15px;

}
.header-menu ul li a:hover{

}
.header-menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
   transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform-origin: bottom center;
    background-color:#fff;
}
.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
   
    transform: scaleY(1);
}
.header-menu ul li ul li a{}

.header-btn{
    width: 10%;
    margin-top: 6px;
}

/* bannar-sections */

.bannar-section{
    background-image:url(./bg-01.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 200px 0;
}
.bannar-text{
  text-align: center;

}
.bannar-text h3 {
    color: #ddd;
    font-size: 30px;
    font-weight: 300;
}
.bannar-text h2 {
    color: antiquewhite;
    font-size: 40px;
    font-weight: 500;
    margin: 10px;
    font-style: italic;
}
.btns-2 {
    text-align: center;
    background: aquamarine;
    display: inline-block;
    margin-left: 500px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
   
}
.btns-2 a{
    color: rgb(127, 142, 155);
}

.btns-2 a:hover{
    color: rgb(39, 140, 228);

}

/* bannar-botoom */

.bannar-bottom{
   background-color: #ddd; 
}
.video {
    width: 48%;
    margin: 30px 0;
    box-shadow: 0px 0px 10px black;
}
.video-text{
    width: 48%;
    
}
.video-text h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 32px;
    color: blueviolet;
    font-weight: 500;
    font-style: italic;
    text-shadow: 2px 5px 5px;
}
.video-text p {
    line-height: 30px;
    font-style: oblique;
    font-weight: 500;
}


/* service-sec */
.service-sections{
    width: 1300px;
    margin: auto;
}
.service-box {
	width: 20%;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0,0, 0, .2);
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 50px;


}
.s-icon {
    float: left;
    width: 50px;
    height: 100px;
    font-size: 30px;
}
.s-icon span{
    color: brown;
}
.s-content{}
.s-content h3 {
    font-size: 24px;
    font-weight: 500;
}
.s-content p {
    font-style: italic;
    font-weight: 300;
}
.monaem {
	margin-left: 124px;
}

.fotter ul{
    background-color: #0dbf9b;
    text-align: center;
    
}
.fotter ul li{
    display: inline-block;
    margin-left: 2%;
    
    
    
}
.fotter ul li a{
    padding: 25px 0;
    display: inline-block;
    color: white;
    list-style: none;
    font-size: 20px;
}
.fotter ul li:nth-child(6) a{
    background-color: white;
    color: #0dbf9b;
    padding: 0 5px;
    font-size: 20px; 
}
.fotter-end{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    
}